body{
  margin: 0;
}

  #see-work{
    margin: 5em 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    width: 3vw;
  }
  li {
    text-decoration: none;
    display: block;
    margin-left: 10%;
    margin-top: 40%;
  }
  img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .link {
    z-index: 30;
    position: absolute;
    margin-top: 4%;
  }
  .footer {
    position: absolute;
    z-index: 30;
    top: 94%;
    left: 80%;
    transform: translate(-4%, -4%);
  }
  .paragraph {
    position: absolute;
    z-index: 30;
    font-size: 4vw;
    font-family: monospace;
    /*color: white;*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .paragraph2 {
    position: absolute;
    z-index: 30;
    font-size: 2vw;
    /*color: white;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .paragraph3 {
    position: absolute;
    z-index: 30;
    font-size: 2vw;
    /*color: white;*/
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .clear-fix::after {
    content: "";
    display: table;
    clear: both;
  }
  #page2 {
    text-align: center;
    font-size: 3vw;
  }
